rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Hotels can be read by anyone (needed for guest page), but only created/updated/deleted by authenticated users (the agency)
    match /hotels/{hotelId} {
      allow read;
      allow create, update, delete: if request.auth != null;
    }

    // Bookings can only be managed by authenticated users.
    // A user can only access bookings associated with their hotel.
    match /bookings/{bookingId} {
      allow create: if request.auth != null;
      allow read, update, delete: if request.auth != null && get(/databases/$(database)/documents/hotels/$(resource.data.hotelId)).data.hotelier.email == request.auth.email;
    }
  }
}
